<html>
    <head>
        <title>
            Politiquiz
        </title>
    </head>
    <body>
        <h1 style = "text-align: center; background-color: black; color: white">
             Politiquiz <br>
        </h1>
        <h4>
            Make an informed decision about your election choice for the 2020 Presidential Election. Your vote will impact the lives of millions of people, not just in the United States, but around the world.
        </h4>
        <p>
            Politiquiz attempts to determine your political stance by asking you questions focused on various different topics. If you are ever uncertain about a certain topic or question, you can feel free to leave your response blank.
            We will only determine your political leaning based on the issues that you care about.
            Once you have completed answering the questions, Politiquiz will calculate your political leaning and direct you to the parties, candidates and resources that best match your political stance.
        </p>
        <div style = "text-align: center;">
            <a href="/quiz/">
                Take The Quiz
            </a>
        </div>
    </body>
</html>
