<html>
    <head>
        <title>
            Politiquiz Quiz Questions
        </title>
    </head>
    <body>
        <h1 style = "text-align: center; background-color: black; color: white"> 
            Politiquiz Questions
        </h1>
        <form method="POST">
            <ol>
            {% for topic in question_topics %}
                <h3 style = "text-align: center; background-color: black; color: white"> {{topic}} </h3>
                {% for question in question_topics[topic] %}
                    <li> {{question.question_text}} </li>
                    <div>
                        <input type="radio" id="{{question.question_id}}_1" name="{{question.question_id}}" value=1>
                        <label for="{{question.question_id}}_1"> Strongly Disagree </label> <br>
                        <input type="radio" id="{{question.question_id}}_2" name="{{question.question_id}}" value=2> 
                        <label for="{{question.question_id}}_2"> Disagree </label> <br>
                        <input type="radio" id="{{question.question_id}}_3" name="{{question.question_id}}" value=3>
                        <label for="{{question.question_id}}_3"> Neutral </label> <br>
                        <input type="radio" id="{{question.question_id}}_4" name="{{question.question_id}}" value=4>
                        <label for="{{question.question_id}}_4"> Agree </label> <br>
                        <input type="radio" id="{{question.question_id}}_5" name="{{question.question_id}}" value=5>
                        <label for="{{question.question_id}}_5"> Strongly Agree </label>
                    </div>
                    <br>
                {% endfor %}
                <br>
            {% endfor %}
            </ol> 
            <div style = "text-align: center;">
                <button type="submit"> Submit </button>
            </div>
        </form> 
    </body>
</html>



        

    </body>
</html>